.modal {
  font-size: 12px;
  &-header{
    border-bottom: 0;
    padding-bottom: 0;
  }
  &-body {
    padding: 16px;
  &__content {
    text-align: justify;
    h5{
      margin: 8px 0;
      font-size: 14px;
      font-weight: bold;
      padding: 6px;
      display: block;
      background-color: $color-primary;
      color: $color-white;
      }

    ul{
      padding-left: 20px;
      li{
        margin-bottom: 4px;
        list-style-type: square;
        }
      }
    }
  }
}