.modal {
  font-size: 12px;
  &-header{
    border-bottom: 0;
    padding: 16px 30px 0;
  }
  &-body {
    padding: 0 16px 16px;
  &__content {
    position: relative;
    text-align: justify;
    @media (max-width: $screen-md) {
      font-size: 12px;
    }
    h5{
      margin: 20px 0;
      font-size: 16px;
      font-weight: bold;
      padding: 8px;
      display: block;
      background-color: $color-primary;
      color: $color-white;
      }

    ul{
      padding-left: 20px;
      li{
        font-size: 13px;
        margin-bottom: 12px;
        list-style-type: square;
        @media (max-width: $screen-md) {
          margin-bottom: 10px;
          font-size: 12px;
          }
        }
      }
    }
    &__photo { 
      position: relative;
      margin-top: 14px;
      height: 250px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      -webkit-box-shadow: 0px 1px 5px 0px rgba(135,135,135,1);
      -moz-box-shadow: 0px 1px 5px 0px rgba(135,135,135,1);
      box-shadow: 0px 1px 5px 0px rgba(135,135,135,1);
      &--01 {background-image: url("../assets/images/equipo1.jpg");}
      &--02 {background-image: url("../assets/images/equipo2.jpg");}
      &--03 {background-image: url("../assets/images/equipo3.jpg");}
      
      &-name {
        text-align: center;
        font-size: 16px;
        position: absolute;
        width: 100%;
        bottom: 0;
        background-color: $color-primary;
        color: $color-white;
        padding: 4px;
        margin-bottom: 0;
        font-weight: 700;
      }
    }

    &__info {
      color: $color-primary;
      text-align: center;
      margin-top: 16px;
      a {
        display: block;
        font-weight: 700;
        font-size: 16px;
        text-decoration: none;
      }
    }
  }
}

.modal-image {
  width: 15%;
  position: absolute;
  bottom: 5%;
  right: 0;
  @media (max-width: $screen-sm) {  
   width: 35%;
   bottom: 3%;
  }
}

.modal.show .modal-dialog {
  @media (max-width: $screen-sm) {  
    margin: 0;
  }
}

.modal-content {
  @media (max-width: $screen-sm) {  
    border-radius: 0;
    border: 0;
  }
}