.c-card-title {
  background-color: $color-white;
  position: relative;

  @media (max-width: $screen-sm) {
    margin-top: rem(32px);
    padding: rem(24px) rem(24px) rem(24px) rem(32px);
  }
  @media (min-width: $screen-sm) {
    padding: rem(24px);
  }

  @media (min-width: $screen-md) {
    display: table;
    padding: rem(32px);
  }

  &__title {
    padding-bottom: rem(16px);
    text-align: center;
    p {
      margin-bottom: 0;
      color: $color-primary;
    }

    h2 {
      margin-top: 20px;
      font-size: rem(48px);
    }

    @media (min-width: $screen-md) {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      padding-bottom: 0;
    }
  }

  &__content {
    @media (min-width: $screen-md) {
      -webkit-box-flex: 2;
      -ms-flex: 2;
      flex: 2;

      p {
        padding-top: rem(20px);
        color: $color-black;

        &:first-of-type { padding-top: rem(40px); }
      }
    }
  }

  &::before {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    display: block;
    width: $line;
    height: 100%;
    background-color: $color-primary;

    @media (min-width: $screen-md) {
      left: auto;
      right: 0;
    }
  }
  &::after {
    content: url('../assets/images/modal-logo.jpg');
    position: absolute;
    top: 33%;
    left: -27%;
    height: 100px;
    width: 100px;
  }

  &--right {
    @media (min-width: $screen-md) {
      &::before {
        left: 0;
        right: auto;
      }

      .c-title {
        text-align: right;
      }
    }
  }

  &--half {
    @media (min-width: $screen-md) {
      &::before {
        left: 0;
        right: auto;
      }

      .c-title {
        text-align: left;
        h2 {
          font-size: rem(32px);
        }
      }
    }

    @media (min-width: $screen-xl) {
      .c-title {
        h2 {
          font-size: rem(56px);
        }
      }
    }
  }
}
