.c-detail {
  @media (min-width: $screen-lg) {
    display: flex;
  }

  &__content {
    padding: rem(16px);
    border-top: 1px solid $color-border;
    border-left: 1px solid $color-border;
    border-right: 1px solid $color-border;

    p {
     margin-bottom: rem(16px);
     
     &:last-child {
       margin-bottom: 0;
     }
    }

    @media (min-width: $screen-lg) {
      flex: 1;
      padding: rem(48px) rem(80px);
      border-top: 1px solid $color-border;
      border-left: 1px solid $color-border;
      border-right: 0;
      border-bottom: 1px solid $color-border;
    }
  }

  &__logotype {
    margin-bottom: rem(20px);

    @media (min-width: $screen-lg) {
      margin-bottom: rem(40px);
    }
  }

  &__noted {
    display: flex;
    
    @media (min-width: $screen-lg) {
      flex: 0 0 400px;
      max-width: 400px;
    }
  }
}