.c-header {
  width: 100%;
  height: 120px;
  background-color: $color-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: rem(15px);
  padding-right: rem(15px);
  position: relative;

  @media (max-width: $screen-md) {
    height: 100px !important;
    padding-left: rem(44px);
    padding-right: rem(44px);
  }
  @media (max-width: $screen-sm) {
    height: 80px !important;
    padding-left: rem(16px);
    padding-right: rem(16px);
  }

  &__logotype {
    width: 140px;
    margin: 0;

    @media (min-width: $screen-lg) {
      width: 200px;
    }

    img {
      width: 100%;
    }
  }
}