.c-hero {
  width: 100%;
  background-color: $color-white;
  position: relative;
  overflow: hidden;

  &__inner {
    position: absolute;
    text-align: right;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    max-width: 900px;
    width: 100%;
    color: $color-white;
    padding-left: 15px;
    padding-right: 15px;
  }

  &__title {
    text-align: right;
    margin-bottom: rem(16px);
    font-family: $ff-aleoBold;

    @media (min-width: $screen-md) {
      margin-bottom: rem(36px);
    }

    h2 {
      font-size: rem(72px);
      font-weight: $bold;
      margin-bottom: rem(32px);

      @media (max-width: $screen-md) {
        font-size: rem(42px);
        text-align: center;
        line-height: auto;
      }
      @media (max-width: $screen-sm) {
        font-size: rem(24px);
        line-height: auto;
      }
    }

    p {
      font-size: rem(20px);

      @media (min-width: $screen-md) {
        font-size: rem(24px);
      }
    }
  }

  &__button,
  &__link {
    text-align: center;
  }

  &__button {
    margin-bottom: rem(32px);
  }

  &__link {
    a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: $thin;
      font-size: rem(14px);
      max-width: 300px;
      height: 46px;
      background-color: $color-white;
      margin: auto;

      &:hover {
        i {
          &:after {
            -webkit-animation: rotateLine 3s linear infinite;
            animation: rotateLine 3s linear infinite;
          }
        }
      }
    }

    i {
      width: 20px;
      height: 20px;
      font-size: rem(20px);
      display: block;
      position: relative;
      margin-right: rem(16px);
      color: $color-primary;

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 28px;
        height: 28px;
        border-radius: 50%;
        border: 2px dashed $color-primary;
        background-color: transparent;
      }
    }
  }

  @-webkit-keyframes rotateLine {
    0% {
      -webkit-transform: translate(-50%, -50%) rotate(0deg);
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      -webkit-transform: translate(-50%, -50%) rotate(360deg);
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  @keyframes rotateLine {
    0% {
      -webkit-transform: translate(-50%, -50%) rotate(0deg);
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      -webkit-transform: translate(-50%, -50%) rotate(360deg);
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  @keyframes bounceDown {
    0%, 20%, 50%, 80%, 100% {
      transform: translateX(-50%) translateY(0);
    }
    40% {
      transform: translateX(-50%) translateY(-30px);
    }
    60% {
      transform: translateX(-50%) translateY(-15px);
    }
  }

  @keyframes wheel-up-down {
    0% {
      margin-top: 2px;
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    100% {
      margin-top: 20px;
      opacity: 0;
    }
  }
}
