.c-list-list {
  li {
    display: flex;
    max-width: 100%;
    padding: 0;

    &::before {
      font-family: 'amaineicon';
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1.3;
      content: '\e902';
      margin-right: rem(8px);
    }
  }
}