.c-persons {
  display: block;
  position: relative;
  width: 100%;
  height: 426px;
}

.c-persons__square {
  display: block;
  position: absolute;
  top: 58px;
  left: 0;
  width: 100%;
  border: 1px solid #f4f4f4;
  z-index: 0;
}

@media (max-width: 410px) {
  .c-persons__square {
    height: 275px;
  }
}

@media (min-width: 410px) and (max-width: 768px) {
  .c-persons__square {
    height: 200px;
  }
}

@media (min-width: 768px) {
  .c-persons__square {
    height: 238px;
  }
}

.c-persons__content {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.c-persons__person {
  position: relative;
  height: 220px;
}

.c-persons__person-img {
  position: absolute;
  left: 0;
  top: 0;
}

@media (max-width: 768px) {
  .c-persons__person-img {
    width: 100px;
  }
}

@media (min-width: 768px) {
  .c-persons__person-img {
    width: 138px;
  }
}

.c-persons__person-img img {
  width: 100%;
}

.c-persons__person-text {
  position: absolute;
}

@media (max-width: 768px) {
  .c-persons__person-text {
    left: 100px;
    bottom: 14px;
  }
}

@media (min-width: 768px) {
  .c-persons__person-text {
    left: 137px;
    bottom: -26px;
  }
}

.c-persons__person-text h3 {
  padding: 16px 16px 0;
  border-left: 5px solid #008592;
  font-size: 20px;
  font-weight: bold;
}

.c-persons__person-text h3 span {
  display: block;
}

.c-persons__person-text p {
  padding: 0 0 0 22px;
  max-width: 200px;
  font-size: 18px;
}

@media (min-width: 410px) {
  .c-persons__person--reverse {
    top: -75px;
  }
}

.c-persons__person--reverse .c-persons__person-img {
  left: auto;
  right: 0;
}

.c-persons__person--reverse .c-persons__person-text {
  text-align: right;
  left: auto;
  right: 100px;
  bottom: 36px;
}

@media (max-width: 768px) {
  .c-persons__person--reverse .c-persons__person-text {
    right: 100px;
    bottom: 36px;
  }
}

@media (min-width: 768px) {
  .c-persons__person--reverse .c-persons__person-text {
    right: 137px;
    bottom: -4px;
  }
}

.c-persons__person--reverse .c-persons__person-text h3 {
  padding: 16px 16px 0 0;
  border-left: none;
  border-right: 5px solid #008592;
}

.c-persons__person--reverse .c-persons__person-text p {
  padding: 0 22px 0 0;
}
