a:hover {text-decoration: none;}

strong {font-weight: bold;}

.visible {display: block;}
.hidden {display: none;}

.lrg-logo {
  background-size: contain;
  height: 90px;
  background-repeat: no-repeat;
  background-image: url("../assets/images/logo.png");
  @media (max-width: $screen-md) {
    height: 60px;
  }
}

.sml-logo {
  background-size: contain;
  height: 50px;
  background-repeat: no-repeat;
  background-image: url("../assets/images/logo-2.png");
}

.ta-left {text-align: left;}

.carousel-control-prev, .carousel-control-next {
  text-decoration: none;
  color: $color-white;
  .icon {
    font-size: 50px;
    font-weight: 700;
    color: $color-white;
    @media (max-width: $screen-sm) {
      font-size: rem(24px);
      line-height: auto;
    }
  }
}

.carousel-control-prev {
  .icon {
    transform: rotate(180deg);
  }
}

.tab-pane {
  ul {
    padding-left: 20px;
    list-style-type: disc;
  }
}
