:root {
  .u-text-center {
    text-align: center;
  }

  .u-text-left {
    text-align: left;
  }

  .u-mt2 {
    margin-top: rem(32px);
  }

  .u-mb2 {
    margin-bottom: rem(32px);
  }

  .u-black {
    color: $color-black;
  }

  .u-visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .u-text-default {
    text-transform: inherit;
  }

  .u-mt1 {
    margin-top: rem(16px);
  }


  @media (max-width: 992px) {
    .u-new-card { margin-top: 32px; }
  }
  @media (width: 992px) {
    .u-new-card { margin-top: 0; }
  }


  @media (max-width: 480px) {
    .u-margin-mobile {
      padding-top: 0 !important;
    }
  }
}

// Utilidad para ajustar el bloque porqué amaine de la home
.u-why-amaine {

  @media (max-width: $screen-sm) {
    .c-background__content { padding-top: 2.875rem; }
    .c-background__list { margin-bottom: 0; }
    .c-background--left { padding-bottom: 0; }
    .u-new-card { margin-top: 0; }
    .o-card-title::after { display: none; }
  }
}

// Utilidad para ajustar el bloque Amaina está dirigido a... de la home
.u-amaine-managed {
  @media (max-width: $screen-sm) {
    .c-background--large img {
      height: 197px;
    }
  }
}

// Utilidad para ajustar el top del primer bloque de cada subpagina
.u-top-subpages {
  @media (max-width: $screen-lg) {
    .c-background--half {
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 40px;

      figure { margin-top: -22px; }
    }

    .c-background__large {
      margin-top: 30px;
      padding-top: 16px;
      padding-bottom: 40px;
    }
  }

  &.u-zetas {
    .o-card-title { z-index: 5; }
    figure { z-index: 4; }
    .u-text-about { z-index: 2; }
  }
}

// Utilidad para ajustar el bloque por qué amaine de Sobre Amaine
.u-why-about {

  @media (max-width: $screen-sm) {
    .c-why { padding-top: 3.875rem; }
  }
}

// Utilidad para colocar el icono video sobre primera imagen en Sobre Amaine
.u-icon-video {
  figure { position: relative; }

  a {
    position: absolute;
    right: 25px;
    bottom: 25px;
    text-decoration: none;

    i {
      color: $color-white;
      font-size: 60px;
    }

    &:hover i:after {
      -webkit-animation: rotateLine 3s linear infinite;
      animation: rotateLine 3s linear infinite;
    }
  }
}

// Utilidad para centrar el logo de Amaine en el menú mobile
.u-logo-menu-mobile {
  display: block;
  margin: 0 auto 50px;

  @media (min-width: $screen-xl) {
    display: none;
  }
}


// Utilidad para textos legales
.u-legal-text {
  @media (max-width: 992px) {
    margin-top: 50px;
    margin-bottom: 32px;
  }

  &__wrapper {
    max-width: 850px;
    margin-left: 0;
  }

  p { margin-bottom: 16px; }

  ul {
    list-style-type: disc;
    margin-left: 32px;
    margin-bottom: 16px;

    li { margin-bottom: 8px; }
  }

  h2 {
    font-weight: bold;
    margin: 32px 0 16px;
  }

  h3 { margin: 32px 0 16px; }

  table td { padding: 0 8px}
}

.u-firma {
  background-color: $color-primary;
  text-align: center;
  padding: 120px 0;
  @media (max-width: $screen-sm) {  
    padding: 60px 0;
  }
  &-title {
    display: inline-block;
    position: relative;
    margin-bottom: 40px;
    font-size: 48px;
    font-family: $ff-latoblack;
    color: $color-white;
    @media (max-width: $screen-sm) {  
      font-size: 30px;
      margin-bottom: 30px;
    }
    &::before {
      content: '';
      left: 60px;
      position: absolute;
      width: 40px;
      height: 4px;
      background-color: $color-white;
      top: -25px;
      @media (max-width: $screen-sm) {  
        left: 30px;
        }
      }
    }
  &-text {
    color: $color-white;
    @media (max-width: $screen-sm) {  
      font-size: 12px;
    }
    strong {
      font-weight: bold;
    }
  }
}


.u-area {
  background-color: $color-grey;
  padding: 120px 0;
  text-align: center;
  padding: 120px 0;
  @media (max-width: $screen-sm) {  
    padding: 60px 0;
  }
  &-title {
    display: inline-block;
    position: relative;
    margin-bottom: 56px;
    font-size: 48px;
    font-family: $ff-latoblack;
    color: $color-black;
    @media (max-width: $screen-sm) {  
      font-size: 30px;
      margin-bottom: 30px;
    }
    &::before {
      content: '';
      left: 140px;
      position: absolute;
      width: 40px;
      height: 4px;
      background-color: $color-primary;
      top: -25px;
      @media (max-width: $screen-sm) {  
        left: 90px;
        }
      }
    }
  .nav {width: 100%;}

  .nav-link {padding: 16px;}

  .icon {
    vertical-align: middle;
    display: table-cell;
    padding-right: 15px;
    font-size: 36px;
    color: $color-primary;
  }
  .nav-tabs {border-bottom: 0;
    .nav-link.active {
      border: transparent;
      border-radius: 0;
    }
    .nav-link:hover, .nav-tabs .nav-link:focus {
      border-color: transparent;
    }
  }

  .nav-tabs-text {
    font-size: 14px;
    color: $color-black;
    text-align: left;
    display: table-cell;}
  .tab-content {
    position: relative;
    background-color: $color-white;
    text-align: left;
    padding: 48px 56px;
    &-title {
      font-size: 21px;
      margin-bottom: 20px;
      font-weight:700;
    }
    &-img {
      right: 60px;
      bottom: 0;
      position: absolute;}
  }
}

.u-equipo {
  height: 800px;
  background-image: url("../assets/images/bg-equipo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0;
  text-align: center;
  @media (max-width: $screen-md) {
    height: auto;
  }
  @media (max-width: $screen-sm) {  
    padding: 60px 0;
  }
  .row {
    margin-top: 60px;
    @media (max-width: $screen-md) {
      margin-top: 20px;
    }
  }
   &-title {
    display: inline-block;
    position: relative;
    margin-bottom: 56px;
    font-size: 48px;
    font-family: $ff-latoblack;
    color: $color-white;
    @media (max-width: $screen-sm) {  
      font-size: 30px;
      margin-bottom: 30px;
    }
    &::before {
      content: '';
      left: 140px;
      position: absolute;
      width: 40px;
      height: 4px;
      background-color: $color-white;
      top: -25px;
      @media (max-width: $screen-sm) {  
        left: 85px;
      }
    }
  }
}

.u-contacto {
  padding: 120px 0;
  text-align: center;
  @media (max-width: $screen-sm) {  
    padding: 60px 0;
  }
  &-title {
    display: inline-block;
    position: relative;
    margin-bottom: 56px;
    font-size: 48px;
    font-family: $ff-latoblack;
    color: $color-black;
    @media (max-width: $screen-sm) {  
      font-size: 30px;
      margin-bottom: 30px;
    }
    &::before {
      content: '';
      left: 110px;
      position: absolute;
      width: 40px;
      height: 4px;
      background-color: $color-primary;
      top: -25px;
      @media (max-width: $screen-sm) {  
        left: 55px;
      }
    }
  }
  &-info {
    text-align: left;
    @media (max-width: $screen-sm) {  
      margin-bottom: 30px;
    }
    &__title {
      font-size: 21px;
      margin-bottom: 16px;
      font-family: $ff-latoBold;
    }
    &__content{
      color: $color-grey-placeholder;
      display: table;
      margin-bottom: 12px;
      p {margin-bottom: 8px;}
      i {
        color: $color-black;
        font-size: 1rem;
        display: table-cell;
        padding-right: 12px;
      }
      a {
        color: $color-grey-placeholder;
        display: table-cell;
        text-decoration: none;
        &:hover, &:focus {
          background-color: transparent;
          text-decoration: none;
          color: $color-primary;
        }
      }
    }
  }
  &-map {
    margin-top: 32px;
  }
}