
@font-face {
  font-family: 'LatoBlack';
  src: url('../assets/fonts/Lato/Lato-Black.eot'),
  url('../assets/fonts/Lato/Lato-Black.ttf') format('truetype'),
  url('../assets/fonts/Lato/Lato-Black.svg') format('svg');
  font-style: normal;
  font-display: auto;
}

@font-face {
	font-family: 'LatoBold';
	src: url('../assets/fonts/Lato/Lato-Bold.eot'),
  url('../assets/fonts/Lato/Lato-Bold.ttf') format('truetype'),
  url('../assets/fonts/Lato/Lato-Bold.svg') format('svg');
  font-weight: $bold;
  font-style: normal;
  font-display: auto;
}

@font-face {
	font-family: 'LatoRegular';
	src: url('../assets/fonts/Lato/Lato-Regular.eot'),
  url('../assets/fonts/Lato/Lato-Regular.ttf') format('truetype'),
  url('../assets/fonts/Lato/Lato-Regular.svg') format('svg');
  font-style: normal;
  font-weight: $regular;
  font-display: auto;
}

@font-face {
	font-family: 'LatoSemibold';
	src: url('../assets/fonts/Lato/Lato-Semibold.eot'),
  url('fonts/Lato-Semibold.ttf') format('truetype'),
  url('fonts/Lato-Semibold.svg') format('svg');
  font-style: normal;
  font-display: auto;
}

@font-face {
	font-family: 'AleoBold';
	src: url('../assets/fonts/Aleo/Aleo-Bold.eot'),
   url('../assets/fonts/Aleo/Aleo-Bold.ttf') format('truetype'),
    url('../assets/fonts/Aleo/Aleo-Bold.svg') format('svg');
	font-weight: normal;
  font-style: normal;
  font-display: auto;
}
