$color-primary: #00A5B5;
$color-secondary: #00243A;

$color-white: #ffffff;
$color-white2: #FEFDFD;
$color-black: #000000;

$color-grey: #666666;
$color-grey-placeholder: #999999;
$color-border: #e6e6e6;

$color-success: #468847;
$color-error: #a92626;

$color-mark: #425CC7;

$color-aura: #0A3C61;
$color-trust: #002F6A;
$color-active: #C45900;
$color-premaat: #B42C21;
$color-intercaution: #6E0A40;
$color-euroins: #26204F;


$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$border-radius: 3px;

$line: 5px;

$bold: 700;
$regular: 400;
$thin: 300;

$ff-geomanist: "geomanist";
$ff-georgiaitalic: "georgiaitalic";
$ff-montserrat: "montserrat";
